[sssd]
domains = 
config_file_version = 2
services = nss, pam
reconnection_retries = 3
sbus_timeout = 30 

[domain/example.com]
ad_domain = 
krb5_realm = 
realmd_tags = manages-system joined-with-samba 
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = ad
enumerate = False
auth_provider = ad
chpass_provider = none
entry_cache_timeout = 300
ad_site = 
ad_enable_gc = False
ignore_group_members = True
ldap_user_search_base = 
ldap_group_search_base = 

[nss]
filter_groups = root
filter_users = root
reconnection_retires = 3
entry_cache_nowait_precentage = 75

[pam]
reconnection_retries = 3
offline_credentials_expiration = 2 # days
offline_failed_login_attempts = 3
offline_failed_login_delay = 5 # minutes